<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading"></h3>
  <div class="row container">
    <form action="/Blog" method="GET">
      <input class="green" type="submit" value="Back to Message Board" />
    </form>
  </div>
  <br />
  <div class="row justify-center">
    <div class="content col align-center page">
      <h4 class="green"><%= blog.title %></h4>
      <div class="col align-center">
        <p><%= blog.content%></p>

        <%var likeCount = 0;likes.forEach(like => { %> <% if (like.postId ===
        blog.postId) {likeCount ++ ;} %> <% }); %> <%var likeMatch = 0; likeId =
        0;likes.forEach(like => { %> <% if (typeof user !== "undefined"){ if
        (like.userId === user.Id && like.postId === blog.postId) {likeMatch ++ ;
        likeId = like.likeId }} }); %>

        <div class="row justify-center align-center">
          <p>Likes: <%= likeCount%></p>

          <% if (typeof user !== "undefined"){ %> <% if(likeMatch >0){%>
          <form action="/Blog/RemoveLike/<%=likeId%>" method="POST">
            <input type="submit" value="Unlike" class="" />
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          </form>

          <%}else{%>

          <form action="/Blog/AddLike/<%=blog.postId%>" method="POST">
            <input type="submit" value="Like" class="green" />
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          </form>

          <%}%> <%} else { %>
          <form action="/User/LogIn" method="GET">
            <input type="submit" value="Like" class="green" />
          </form>
          <% } %>
        </div>
        <p class="green">Comments:</p>

        <% comments.forEach(comment => { %> <% if (comment.postId ===
        blog.postId) {users.forEach(user => { if (comment.userId ===
        user.userId) {%>
        <p>
          <span class="green"><%= user.userName %>: </span> <%=
          comment.content%>
        </p>
        <% }}); } }); %>
        <!-- Add Comment -->

        <% if (typeof user !== "undefined"){ %>
        <form action="/Blog/Comment" class="col align-center" method="post">
          <input
            type="hidden"
            name="postId"
            id="postId"
            value="<%=blog.postId%>"
          />
          <textarea
            class="comment"
            name="newComment"
            id="newComment"
            placeholder="Add Comment Here"
          ></textarea>
          <br />
          <input type="submit" value="Comment" class="green" />

          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        </form>

        <!-- Add Comment -->
        <br />
        <br />
        <!-- if same user logged in-->
        <% {users.forEach(us => {%> <%if (user.Id === us.userId && blog.userId
        === us.userId) {%>
        <form action="/Blog/Edit/<%=blog.postId%>" method="GET">
          <input type="submit" value="Edit Post" class="green" />
        </form>
        <%} });} %><% } else { %>
        <form action="/User/LogIn" method="GET">
          <input type="submit" value="Comment" class="green" />
        </form>
        <% } %>

        <!-- if same user logged in-->

        <br />
      </div>
    </div>
  </div>
</div>
<%-include("../shared/footer")%>
