<%-include("../shared/header")%>
<div class="col page">
  <h3 class="heading">Log In</h3>
  <div class="row justify-center">
    <div class="content">
      <% if (message.length > 0) { %>
      <div class="alert green row justify-center"><%= message %></div>
      <!-- <div class="alert row justify-center">
        Did you forget your password?
        <a class="green" href="/User/Forgot/Password">Reset Password</a>
      </div> -->
      <% } %>

      <form action="/User/LogIn" method="POST">
        <div class="my-form">
          <div class="row align-center justify-center">
            <div class="">
              <label for="email">Email:&nbsp;</label>
            </div>
            <div class="">
              <input type="email" name="email" id="email" required />
            </div>
          </div>

          <div class="row align-center justify-center">
            <div class="">
              <label for="password">Password:&nbsp;</label>
            </div>
            <div class="">
              <input
                type="password"
                name="password"
                id="password"
                required
                oninvalid="this.setCustomValidity('We All Keep Secrets') "
              />
            </div>
          </div>
          <br />
          <div class="row align-center">
            <button class="green" type="submit">Log In</button>
      
      

        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
      </form>

      <form
        class=""
        action="/User/Register"
        method="get"
      >
        <input class="green" type="submit" value="Sign Up" />
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
      </form>
    </div>
      <div class="row align-center">
        <div>or &nbsp;</div>
        <form
        class=""
        action="/User/Forgot/Password"
        method="get"
      >
        <input class="green" type="submit" value="Forgot Password" />
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
      </form>
       
      </div>
    </div>
  </div>
</div>

<%-include("../shared/footer")%>
