<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading">Profile</h3>

  <div class="row justify-center">
    <div class="content">
      <div class="col justify-center">
        <div class="row justify-center">
          <% if (message.length > 0) { %>
          <div class="alert danger row justify-center">
            <p>**<%= message %>**</p>
          </div>
          <% } %>
        </div>
        <div class="row justify-center"><p>Name: <%=user.UserName%></p></div>
        <div class="row justify-center"><p>Email: <%=user.UserEmail%></p></div>
        <% if (user.ShowBackEnd > 0){ %>
        <div class="row justify-center">
          <p>back end visible: true</p>
        </div>
        <%} %> <% if (user.ShowBackEnd > 0){ %>
        <div class="row justify-center">
          <p>back end visible: true</p>
        </div>
        <%} %> <% if (user.Mailer > 0){ %>
        <div class="row justify-center">
          <p>User is signed up for Mailer: true</p>
        </div>
        <%} %> <% if (user.isAdmin > 0){ %>
        <div class="row justify-center"><p>User is admin: true</p></div>
        <%} %>
        <div class="row justify-center">
          <form action="/User/Profile/Edit">
            <input class="green" type="submit" value="Edit Profile" />
          </form>
        </div>
        <div class="row">
          <div class="col align-center profile-posts">
            <p class="green">Your Message Board Posts</p>
            <div class="row justify-center">
              <ul>
                <% blog.forEach(post => { if(user.Id === post.userId){%>

                <li>
                  <a href="/Blog/<%=post.postId%>"><%=post.title%></a>
                </li>
                <br />
                <%}}); %>
              </ul>
            </div>
            <div class="row">
              <form action="/Blog" method="GET">
                <input class="green" type="submit" value="Message Board" />
              </form>
            </div>
            <br />
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

<%-include("../shared/footer")%>
