<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading">Profile</h3>
  <div class="row justify-center">
    <div class="content ">
        <p class="danger">
            **area under construction.**
          </p>
<p>User Id: <%=user.Id%></p>
<p>User email: <%=user.UserEmail%></p>
<p>User show back end: <%=user.ShowBackEnd%></p>
<p>User Id: <%=user.Mailer%></p>
<% if (user.isAdmin > 0){ %>
<p>User is admin: true</p>
<%} %>
  </div> 
  </div>
  </div>
</div>
<%-include("../shared/footer")%>
